

body {
    background-color: rgb(240, 223, 211);
}

li {
    display: inline-block;
    font-size: 1px;
    padding: 1px;
}

a {
    color: #977750;
}

a:visited {
    color: #4b3b28;
}

.portrait {
   width: 2000px;
    height: 400px;
    border: 5px solid #977750;
    border-radius: 15px;
}

.portrait1 {
    width: 290px;
     height: 170px;
     border: 5px solid #977750;
     border-radius: 15px;
 }

.backdrop {
    filter: blur(50px);
    opacity: 0.35;
    transition: all 0.2s;
}

#details {
    padding: 2px;
}

#details > div {
    margin-bottom: 50px;
}

#character-search {
    padding: 200px;
}